body {
  background-color: black;
  color: white;
}

.chart {
  display: block;
  margin: 0 auto;
}
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  /*shape-rendering: crispEdges;*/
}