body {
  background-color: black;
  color: white;
}
h1 {
  margin-top: 25px;
  text-align: center;
}
.chart {
  display: block;
  margin: 0 auto;
  padding: 75px 15px 35px 45px;
  margin-top: 50px;
  border: 1px solid white;
}
.chart rect {
  fill: steelblue;
}
.chart rect:hover {
  fill: #fff;
}

.chart text {
  fill: white;
  font: 15px sans-serif;
  text-anchor: end;
}

path, line {
  fill: none;
  stroke: #fff;
}

#tooltip {
  font-size: 1.5em;
  color: #fff;
}
