body {
  background-color: black;
  color: white;
}

.chart {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}
.chart rect {
  fill: steelblue;
}
.chart rect:hover {
  fill: #fff;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
}

#tooltip {
  font-size: 2em;
  color: #fff;
}
